￼
<% provide(:title, 'Home') %>
<div class="container"> <%= yield %>
</div>
<div class="center hero-unit">
  <h1>Welcome to my twitter clone</h1>
<h2>
    This is the home page for the
    <a href="http://twitter.com/">the original twitter site</a>
    sample application.
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> </div>
