<div class="container">
<footer class="footer">
	<a href="http://www.twitter.com/rsantos16">Ruddy Santos</a>
	<nav>
		<ul>
		<li><%= link_to 'About', '#'%></li>
		<li><%= link_to 'Contact', contact_path %></li>
		<li><a href="http://www.twitter.com/rsantos16">Follow me</a></li>
		</ul>
	</nav>
</footer>
</div>